
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/FileType/.vs/*
library/FileType/FileType/bin/*
library/FileType/FileType/obj/*

# ignore PowerShell Studio MetaData
FileType/FileType.psproj
FileType/FileType.psproj.bak
FileType/FileType.psprojs
FileType/FileType.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*